.fon{
	background:url(/image/body/Ellipse\ 1\ copy.png) 50%/cover no-repeat;
	background-attachment: fixed;
}

body{
	background:#e8e8e8;
	text-align: center;
	margin: auto;
	padding: auto;
	font-family: 'Times New Roman', Times, serif;
}

.about{
	margin-top: 100px;
}

.about__title{
	color: #b0a18c;
	
	margin: auto;
	padding-bottom: 20px;

	text-transform: uppercase;
	font-size: 9px;
	text-indent: 30px;
}

.about__subtitle{
	font-size: 18px;
	margin: auto;
	width: 320px;
	margin-bottom: 60px;
}

.content{
	color: #b0a18c;
}

img{
	width: 670px;
	border: 5px solid #eeeeee;
	margin-bottom: 80px;
}

.content{
	font-size: 12px;
}


.content__one, .content__two{
	color: #5e6a70;
	margin: auto;
	padding-right: 40px;

	width: 600px;
	text-align: left;
	font-size: 20px;
}

.content__one{
	margin-bottom: 60px;
}


.content__the{
	width: 640px;
	text-align: left;
	margin: auto;
	font-size: 14px;
	padding-top: 50px;
}

.content__the li{
	list-style: none;
	background: url(/image/body/sec.png) left center no-repeat;
	margin: auto;
	padding: 0 0 0 30px;
}

.one, .two, .three, .four{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 0;
	padding-right: 10px;
}

ul{
	line-height: 30px;
}

.one{
	color: #273d46;
}

.two{
	color: #80b7b3;
}

.three{
	color: #273d46;
}

.four{
	color: #bbbebf;
	text-decoration: line-through;
}

.bitton{
	background-color:#80b7b3;
	height: 30px;
	width: 120px;
	user-select: none;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;

	font-family: Arial, Helvetica, sans-serif;
	padding: 10px 30px;
	border-radius: 20px;
	text-decoration: none;

	box-shadow: 0 0 30px rgba(0,0,0, 0.5);
}

a{
	color: #fff;
}

a:hover{
	transition: .1s;
	background-color: #729c99;
}

.bit{
	padding: 60px 550px 40px 0;
}

